.container 
  = simple_form_for(@job, html: { class: 'form-horizontal'}) do |f|
    .form-group
      = f.input :title, label:  "Job Title"
    .form-group
      = f.input :school, label:  "School"
    .form-group
      = f.input :salary, label:  "Salary"
    .form-group
      = f.input :description, label: "Job Description"

    =f.button :submit